*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fff;
    --secondary-bg-color: #000000;
    --main-text-color: #000000;
    --secondary-text-color: #067382;
    --border-color: #afafaf;
    --input-bg-color: #ededed;
}

/* FORM CONTAINER MAIN */
.form--container{
    position: relative;
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100%;
}
/* FORM ROW */
.form--container .container, .form--container .container .row {
    height: inherit;
}
/* FORM BODY */
.form--body--col{
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
/* LOGO */
#logo{
    max-width: 150px;
    height: auto;
}
/* LABEL AND INPUT */
label{
    font-weight: 700;
    font-size: 0.9rem;
}
input{
    background-color: var(--input-bg-color) !important;
    border-radius: 10px;
    border: 1px solid var(--border-color)!important;
}
/* // BUTTONS */
.form--btn-1{
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
    color: var(--main-bg-color);
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.20s ease-in-out;
}
.form--btn-2{
    background-color: var(--main-bg-color);
    border: 2px solid var(--secondary-bg-color)!important;
    border-radius: 15px;
    font-weight: 700;
    font-size: 0.9rem;
    transition: 0.20s ease-in-out;
    color: var(--secondary-bg-color);
}
.form--btn-1:hover{
    background-color: var(--secondary-text-color);
    color: var(--main-bg-color);
}
.form--btn-2:hover{
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
}
/* FORM ANCHOR  */
.form--a--1{
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
    border-bottom: 1px dashed var(--secondary-text-color);
}
.form--a--2{
    color: #6c757d;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
    border-bottom: 1px dashed #6c757d;
}
.form--a--1:hover{
    color: var(--secondary-text-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--secondary-text-color);
}
.form--a--2:hover{
    color: #6c757d;
    text-decoration: none;
    border-bottom: 1px dashed #6c757d;
}
/* FORM HEADING */
.heading--form--h2{
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 1.8rem;
}

.heading--form--h5{
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 1rem;
}
/* TOGGLE FIELDS */
.form-group {
    display: none;
}
.form-group.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.data-user{
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}
#user_Img{
    height: 30px;
    width: auto;
    border-radius: 50%;
}
#currentEmail{
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--main-text-color) !important;
}

/* @MEDIA */
@media (max-width: 767px) {
    .form--body--col {
        height: inherit;
    }
    body{
        overflow: hidden;
    }
    .form--body--row{
        margin: 0px !important;
    }
}
